<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app>

	<servlet>
		<description>
  	</description>
		<display-name>SaveNoteServlet</display-name>
		<servlet-name>SaveNoteServlet</servlet-name>
		<servlet-class>com.servlet.SaveNoteServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>DeleteServlet</servlet-name>
		<display-name>DeleteServlet</display-name>
		<description></description>
		<servlet-class>com.servlet.DeleteServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateServlet</display-name>
		<servlet-name>UpdateServlet</servlet-name>
		<servlet-class>com.servlet.UpdateServlet</servlet-class>
	</servlet>


	<servlet-mapping>
		<servlet-name>SaveNoteServlet</servlet-name>
		<url-pattern>/SaveNoteServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteServlet</servlet-name>
		<url-pattern>/DeleteServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateServlet</servlet-name>
		<url-pattern>/UpdateServlet</url-pattern>
	</servlet-mapping>





	<welcome-file-list>

		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>